@{
    ViewData["Title"] = "Success";
}


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">User</a></li>
        <li class="breadcrumb-item"><a href="#">Register</a></li>
        <li class="breadcrumb-item active text-white">Success</li>
    </ol>
</div>
<!-- Single Page Header End -->

<div class="container my-5">
    <div class="alert alert-success text-center p-4 rounded shadow">
        <h3 class="fw-bold mb-3">
            <i class="bi bi-check-circle-fill me-2"></i>Registration successful!
        </h3>
        <a asp-action="Login" class="btn btn-primary mt-3">
            <i class="bi bi-arrow-left-circle me-2"></i>Login now
        </a>
    </div>
</div>